# OS
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
logs

# coverage
coverage
*.lcov
.nyc_output/

# IDE
.idea
.project
.vscode
*.sublime-workspace
*.swp
*.swo
.settings
.buildpath

dist
